<h1>Films showing in {{ controllers.application.navStructure.city }}</h1>
<ul class="nav nav-list">
{{#each item in content}}
  <li>{{item.title}}  ( {{item.start_date }})  {{item.city}} </li>
{{/each}}
</ul>

