            <ul class="nav nav-list">
            {{#each item in controller}}
              <li>{{item.title}}  ( {{item.start_date }})  {{item.city}} </li>
            {{/each}}
            </ul>

{{outlet}}
